.product img {
  height: 286px;
  width: 286px;
  border-radius: 8px;
  margin: 7px;
}
.product {
  width: 300px;
  height: 510px;
  border: 1px solid #95a0a7;
  border-radius: 8px;
  position: relative;
}
.product-info {
  margin: 0 14px;
}
.product-info p {
  margin-top: 3px;
  margin-bottom: 0;
}
.product-name {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 0.0015em;
  margin-top: 7px;
  color: #0e161a;
}
.btn-cart {
  width: 100%;
  background: #ffe083;
  border: none;
  border-radius: 0px 0px 8px 8px;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-cart .btn-text {
  margin-right: 5px;
}
.btn-cart:hover {
  background: orangered;
}
